* {
  font-family: 'Roboto';
}

.wrapper_nav {
  width: 100%;
  background-color: #040d0d;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style-type: none;
  background-color: #040d0d;
  border: 1px solid gray;
  color: white;
  padding: 20px;
}

.menu ul {
  display: none;
}

.menu ul li:hover {
  background-color: gray;
}

.menu li:hover ul {
  display: flex;
  flex-direction: column;
}

.menu ul {
  position: absolute;
  top: 45px;
  z-index: 100;
}

.dropdown-menu:hover {
  color: white;
}

.dropdown-menu::after {
  content: '▼';
  color: red;
  margin-left: 5px;
}

.menu_item {
  font-weight: 300;
  font-style: normal;
  color: #b1b7b9;
  list-style-type: none;
  padding: 10px 0;
  float: left;
}

.menu_item:hover {
  color: #ffffff;
}

.hamburger-menu {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.menu_item span {
  font-size: 13px;
}

.menu_item:not(:last-child)::after {
  content: '┋';
  color: #323232;
  padding: 0 15px;
}

.under-menu_item:hover {
  font-weight: bold;
}

menu .feedback-button {
  display: none;
}

#menu__toggle {
  opacity: 0;
  display: none;
}

.wrapper_header {
  font-size: 13px;
}
.region span {
  color: #4673ab;
  border-bottom: 1px dashed #4673ab;
  cursor: pointer;
}

.block-region {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 20px 0px;
}

.authorization {
  display: flex;
}

.entrance {
  margin-right: 20px;
}

.authorization_item {
  color: #4673ab;
  border-bottom: 1px solid #4673ab;
  cursor: pointer;
}

.links:hover {
  color: #ff5816;
  border-bottom: 1px solid #ff5816;
}

.logo {
  width: 196px;
  height: 63px;
}

.cloud {
  font-size: 12px;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.cloud-text {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10px;
  text-decoration-style: dashed;
  color: #4673ab;
}

.shape {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.block-connection_number {
  color: #040d0d;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.block-connection_number:hover {
  color: black;
}

.block-connection {
  line-height: 20px;
}

.block-connection_text {
  font-size: 13px;
}

.block-connection a {
  color: #5d84b5;
}

.viber {
  margin: 0px 5px;
}

.block-feedback {
  display: flex;
}

.wrapper_header_content {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.search {
  text-transform: uppercase;
  font-size: 13px;
}

.search-text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.search form {
  background: #eff0f4;
  border-radius: 3px;
  padding: 5px 0px 5px 15px;
  display: inline;
}

.search input {
  border: none;
  background: transparent;
  font-size: 16px;
}

.search button {
  padding: 3px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #ff5816;
}

.search-text_item__one {
  color: #ff5816;
  font-weight: bold;
}

.search-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rub {
  margin-right: 5px;
}

.search {
  font-size: 13px;
}

.basket-block {
  background-image: url(img/fon.jpg);
  display: flex;
  padding: 15px 60px 15px 20px;
  border-radius: 10%;
}

.basket-block_item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.basket-text {
  text-decoration: uppercase;
  font-weight: bold;
}

.korz {
  width: 25px;
  height: 22px;
  margin-top: 5px;
}

.basket-numbers a {
  color: #5d84b5;
}

.health {
  width: 15px;
  height: 13px;
}

.arrow {
  width: 15px;
  height: 20px;
}

.wrapper_basket-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}
.poick {
  display: none;
}

.basket-button {
  font-size: 11px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #4673ab;
}

.basket-button a {
  text-decoration: none;
  color: #5d84b5;
}

.basket-button span {
  margin: 0 5px;
}

.box-cards-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 10px;
}

.card-info:last-child {
  margin-right: 0px;
}

.card-info img {
  width: 180px;
  height: 160px;
}

.card-info a {
  font-size: 16px;
  margin-top: 20px;
  color: #4673ab;
}

.brands-heading {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  background: url(../img/1px_border.gif) center center repeat-x;
}

.brands-icons {
  display: flex;
  justify-content: space-between;
}

.wrapper_brands {
  margin-bottom: 40px;
}

.brands-icons img {
  width: 100px;
  height: 40px;
}

.brands-heading a {
  background-color: #ffffff;
  color: #597fb1;
  padding-left: 10px;
}

.brands-heading_item {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  background: #fff;
  padding-right: 10px;
}

.arr-brands {
  border-radius: 50%;
  border: 1px solid #dbdee6;
  padding: 5px;
  width: 8px;
  height: 14px;
  cursor: pointer;
  display: none;
}

.brands-arrleft {
  margin: 0 10px;
}

.strengths {
  background-color: #e3e5eb;
  padding: 20px;
  border-radius: 10px;
}

.strengths-heading {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  background: url(../img/1px_border_w.gif) center center repeat-x;
}

.wrapper_cards {
  display: flex;
  justify-content: space-around;
  padding: 0px 40px;
}

.wrapper_strengths {
  margin-bottom: 40px;
}

.strengths-cards:nth-child(1) {
  margin-right: 160px;
}

.strengths-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.strengths-card {
  width: 160px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.strengths-heading_item {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  background: #e3e5eb;
  padding-right: 10px;
}

.strengths-card_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  margin-bottom: 20px;
  background: #fff;
}

.box-causes {
  display: flex;
  justify-content: space-between;
}

.wrapper_causes {
  margin-bottom: 40px;
}

.teup_number {
  font-size: 17px;
  color: #151d1d;
}
.block-hidden {
  display: none;
}

.social-network-hid {
  display: flex;
  flex-direction: column;
}

.causes-heading {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  background: url(../img/1px_border.gif) center center repeat-x;
}

.causes-heading_item {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  background: #fff;
  padding-right: 10px;
}

.box-cause_bad__menu {
  margin: 20px 20px 20px 50px;
  line-height: 25px;
}

.box-cause_bad__menu li {
  color: red;
}

.box-cause_bad__menu span {
  color: #040d0d;
  font-size: 15px;
}

.box-cause_good__menu span {
  color: #040d0d;
  font-size: 15px;
}

.box-cause_good__menu {
  margin: 20px 20px 20px 50px;
  line-height: 25px;
}

.box-cause_good__menu li {
  color: green;
}

.box-cause_bad {
  border: 2px solid #f6bdbf;
  border-radius: 10px;
  width: 550px;
  margin-right: 20px;
}

.box-cause_bad_heading {
  background-color: #cb0b13;
  border-radius: 10px 10px 0px 0px;
  font-weight: 500;
  padding: 10px 10px 10px 20px;
  display: flex;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  height: 75px;
  align-items: center;
}

.box-cause_good {
  border: 2px solid #9bd1a6;
  border-radius: 10px;
  width: 550px;
}

.box-cause_good_heading {
  background-color: #16a333;
  border-radius: 10px 10px 0px 0px;
  font-weight: 500;
  padding: 10px 10px 10px 20px;
  display: flex;
  font-size: 15px;
  height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
}

.box-cause_icon {
  margin-right: 20px;
}

.about-us-card_item_one {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: #dbdee6 1px solid;
  line-height: 130px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-us-card:nth-child(2n) {
  color: #394a5c;
}

.about-us-card_item_one span {
  position: relative;
  left: 15%;
}

.about-us-card_item_two {
  font-size: 12px;
  color: #040d0d;
  display: flex;
  text-align: center;
}

.lop {
  width: 100px;
}

.dip {
  width: 150px;
}

.about-us-cards {
  display: flex;
  justify-content: space-between;
}
.wrapper_cards-info {
  margin: 40px 0px;
}
.about-us-card {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff5816;
}

.about-us-card:nth-child(2) {
  font-size: 50px;
}

.io {
  display: flex;
  line-height: 30px;
  flex-direction: column;
  align-items: center;
}

.io span {
  position: relative;
  top: 20px;
  left: 0px;
}

.ui span {
  position: relative;
  left: 40px;
}

.about-us-card:nth-child(3) {
  font-size: 30px;
}

.wrapper_arr-about {
  background-color: white;
}

.about-us-heading {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  background: url(../img/1px_border.gif) center center repeat-x;
}

.about-us-heading_item {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  background: #fff;
  padding-right: 10px;
}
.menu-text {
  display: none;
}
.arr-about {
  border-radius: 50%;
  border: 1px solid #dbdee6;
  padding: 5px;
  width: 8px;
  height: 14px;
  cursor: pointer;
  display: none;
}

.brands-heading_item img {
  display: none;
}

.arrleft {
  margin: 0 10px;
}

.services-heading {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  background: url(../img/1px_border.gif) center center repeat-x;
}

.services-heading_item {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  background: #fff;
  padding-right: 10px;
}

.services {
  color: #040d0d;
  margin-bottom: 70px;
}

.services-text {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
}

.services-text_item a {
  color: #ff5816;
}

.services-text_item:nth-child(1) {
  margin-right: 20px;
}

.services-text-line {
  width: 100%;
  margin-bottom: 40px;
  height: 1px;
}

.services-menu {
  text-transform: uppercase;
  display: flex;
}

.services-menu_item {
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 700;
  margin: 0 2px;
  border-radius: 5px;
  background: #dbdee6;
  list-style: none;
}

.block_funnel-goods {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 70px;
  margin-top: 60px;
}

.funnel-goods_item {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  color: #040d0d;
}

.funnel-goods_text {
  max-width: 190px;
}

.arrow-funnel {
  position: relative;
  top: 10px;
  margin: 0px 20px 0px 10px;
}

.wrapper_services-menu {
  display: flex;
}

.funnel-goods_item:last-child {
  margin: 0;
}

.funnel-goods-icon {
  margin-right: 10px;
}

.funnel-goods_text__number {
  font-weight: bold;
}

.services-menu_item:hover {
  background: none;
}

.services-menu_item span {
  color: #ff5816;
  border-bottom: 1px dashed #ff5816;
}

.services-menu_item-main span {
  color: black;
  border-bottom: none;
}

.services-menu_item-main {
  color: #040d0d;
  background: #fff;
  cursor: pointer;
}

.block-about_text-one {
  margin: 20px 0px;
}

.footer {
  font-size: 13px;
  color: #c1ced6;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.wrapper_footer {
  background-color: #5c7489;
  padding: 40px 0px;
}

.location a {
  color: #c1ced6;
}

.location a:hover {
  color: black;
}

.footer-feedback {
  display: flex;
  color: #d4dae0;
}

.wrapper_arr-about {
  display: flex;
}

.social-networks {
  margin-top: 45px;
  color: #d4dae0;
}

.footer-connection_number {
  color: #040d0d;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.footer-connection_number:hover {
  color: black;
}

.footer-connection {
  line-height: 20px;
}

.footer-connection_text {
  font-size: 13px;
}

.footer-connection a {
  color: #d4dae0;
}

.footer_cloud {
  font-size: 12px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.skype-pop {
  display: none;
}

.skype {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.wrapper_about-us {
  margin-bottom: 50px;
}
.social-skype {
  display: none;
}

.footer_cloud-text {
  z-index: 1;
  color: #527cb1;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 10px;
  text-decoration-style: dashed;
}

.hidden-menu {
  display: none;
}

.under-footer_cloud {
  display: none;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 25px;
}

.footer-menu_item {
  list-style-type: none;
  border-bottom: 1px solid;
}

.wrapper-socials {
  display: flex;
  flex-direction: column;
}

.footer-menu_item:hover {
  color: #ffffff;
}

.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff5816;
  border-radius: 10px;
  border-bottom: 3px solid #c44411;
}

.bottom-menu_item a {
  display: flex;
  padding: 10px 15px 5px 10px;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
}

.bottom-menu_item:first-child:hover {
  background-color: #ff743d;
  cursor: pointer;
  border-radius: 15px 0px 0px 15px;
}

.bottom-menu_item:not(:last-child):hover {
  background-color: #ff743d;
  text-decoration: underline;
  cursor: pointer;
}

.bottom-menu_item:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c44411;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 5px;
}

.bottom-menu_item {
  border-right: 1px solid #ff743d;
  height: 50px;
  list-style-type: none;
}

.bottom-menu_item:nth-last-child(-n + 2) {
  border-right: none;
}

.wrapper_bottom {
  background-color: #2c3f53;
}

.bottom-block_item {
  font-size: 11px;
  color: #a8b4be;
  display: flex;
  flex-direction: column;
  width: 850px;
}

.bottom-block {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.news {
  padding: 10px 0 0 0;
}

.news-row {
  display: flex;
  justify-content: space-between;
}

.news-column {
  margin-right: 5px;
}

.news-title {
  font-size: calc(14.5px + 5.5 * ((100vw - 320px) / 1120));
  color: #2c3333;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.news-block {
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.news-block__left {
  text-align: center;
  position: relative;
  margin-right: 15px;
}

.news-block__image img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
  object-fit: cover;
}

.news-block__date p:first-child {
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 20px;
  font-weight: bold;
  color: #ff5816;
  line-height: 1;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.news-block__date p:nth-child(2) {
  font-size: 13px;
  color: #040d0d;
  line-height: 1.538;
  margin-top: 5px;
}

.news-block__right {
  position: relative;
  top: -2px;
}

.news-block__title {
  font-size: calc(10px + 3 * ((100vw - 320px) / 1120));
  color: #4673ab;
  line-height: 1.385;
  font-weight: bold;
  transition: all 0.2s ease 0s;
}

.news-block__title:hover {
  color: #ff5816;
  text-decoration: underline;
}

.news-block__text {
  font-size: calc(10px + 3 * ((100vw - 320px) / 1120));
  line-height: 1.3;
  font-weight: 200;
}

.news-more {
  margin-top: 10px;
}

.news-more a {
  font-size: 13px;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.538;
  transition: all 0.2s ease 0s;
}

.news-more a:hover {
  color: #ff5816;
}

.news-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 850px;
}

.news-slider__slogan {
  font-size: 16px;
  color: #131a1a;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.25;
  padding: 12px 0;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #e3e5eb;
}

.black {
  font-weight: 700;
}

.blue {
  font-weight: 700;
  color: #4673ab;
}

.news-swiper {
  position: relative;
  overflow: hidden;
  width: 850px;
  height: 370px;
  border-radius: 10px;
}
.news-swiper-slide {
  background: url(../img/News/slide.png) 70% 50% / cover no-repeat;
  padding: 50px 0;
  padding-left: 70px;
  padding-right: 70px;
}
.inner__slide-swiper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner__slide-title {
  font-size: 31px;
  text-transform: uppercase;
  line-height: 1.226;
}
.inner__slide-title p:first-child {
  color: #ff5816;
  font-weight: 700;
  padding-bottom: 0;
}
.inner__slide-title p:last-child {
  color: #fff;
  font-size: 28.7px;
  font-weight: 300;
  padding-bottom: 0;
}
.inner__slide-subtitle {
  color: #fff;
  text-transform: uppercase;
  line-height: 1.226;
  font-style: italic;
  font-weight: 200;
  font-size: calc(6px + 13 * ((100vw - 320px) / 1120));
}
.inner__slide-list {
  margin: 0 0 0 15px;
  margin-top: calc(60px + -30 * ((100vw - 320px) / 1120));
  font-weight: 200;
}
.inner__slide-list-item {
  list-style-type: disc;
  color: #fff;
  line-height: 2;
  font-size: calc(8px + 5 * ((100vw - 320px) / 1120));
}
.inner__slide-more {
  text-align: center;
  padding: 5px 30px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 0 #c4c4c4;
  margin-top: calc(40px + -20 * ((100vw - 320px) / 1120));
  opacity: 0.9;
  transition: all 0.2s ease 0s;
  position: relative;
  top: 0;
}
.inner__slide-more a {
  font-size: 15px;
  color: #4673ab;
  text-transform: uppercase;
  line-height: 1.733;
  font-weight: 700;
}
.inner__slide-more:hover {
  opacity: 1;
}
.inner__slide-more:active {
  top: 3px;
  box-shadow: 0 0 0 #fff;
}
.news-swiper-pagination {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  right: 0;
  padding-right: 20px;
  width: initial;
}
.news-swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  padding: 7px;
  border-radius: 3px;
  opacity: 1;
}
.news-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff5816;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet
  .swiper-button-prev.news-swiper-button-prev {
  margin: 2px;
}
.swiper-button-next,
.swiper-button-prev {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.newItems {
  padding-top: calc(0px + 40 * ((100vw - 320px) / 1120));
}

.recommend,
.sale,
.stock {
  padding-top: calc(30px + 10 * ((100vw - 320px) / 1120));
}

.column {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: -10px;
}

.title p {
  font-size: 22px;
  color: #040d0d;
  text-transform: uppercase;
  line-height: 0.909;
  font-weight: 700;
  background-color: #fff;
  padding-right: 20px;
}

.title a {
  font-size: 13px;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.538;
  transition: all 0.2s ease 0s;
  background-color: #fff;
  padding-left: 15px;
}

.title a:hover {
  color: #ff5816;
}

.for-arrows {
  position: relative;
  width: 100%;
}

.for-arrows .swiper-button-prev {
  left: -10px;
}

.for-arrows .swiper-button-next {
  right: -10px;
}

.item-slider {
  margin-top: calc(30px + 10 * ((100vw - 320px) / 1120));
}

.item-slider .swiper {
  max-width: 1080px;
  height: 395px;
}

.item-slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.item-slider .item-slide__inner {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 230px;
  height: 390px;
  transition: all 0.2s ease 0s;
  position: relative;
  padding: 30px 20px 20px 20px;
}

.item-slider .item-slide__inner:hover {
  border-color: #ff5816;
}

.item-slider .item-slide__status {
  position: absolute;
  top: -3px;
  left: 8px;
}

.item-slider .item-slide__product {
  display: flex;
  flex-direction: column;
}

.item-slider .item-slide__product-photo {
  -ms-grid-row-align: center;
  align-self: center;
}

.item-slider .item-slide__product-photo img {
  height: 160px;
  padding: 5px;
}

.item-slider .item-slide__product-title {
  margin-top: 25px;
}

.item-slider .item-slide__product-title a {
  font-size: 16px;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.375;
  transition: all 0.2s ease 0s;
  font-weight: bold;
}

.item-slider .item-slide__product-title a:hover {
  color: #ff5816;
}

.item-slider .item-slide__product-price {
  font-size: 13px;
  color: #1a2222;
  line-height: 1.692;
  margin-top: 18px;
}

.item-slider .item-slide__product-price .current-price {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.item-slider .item-slide__product-price .old-price {
  color: #ff5816;
  font-weight: normal;
  text-decoration: line-through;
}

.item-slider .item-slide__product-buy {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.item-slider .item-slide__product-buy .buy-button {
  background-color: #ff5816;
  box-shadow: 0 3px 0 #c44817;
  border-radius: 5px;
  padding: 4px 10px;
  display: flex;
  position: relative;
  top: 0;
  transition: all 0.2s ease 0s;
}

.item-slider .item-slide__product-buy .buy-button p {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  line-height: 1.857;
}

.item-slider .item-slide__product-buy .buy-button .buy-icon {
  position: relative;
  top: 3px;
  margin-right: 8px;
}

.item-slider .item-slide__product-buy .buy-button:hover {
  background-color: #4673ab;
  box-shadow: 0 3px 0 #365884;
}

.item-slider .item-slide__product-buy .buy-button:active {
  top: 3px;
  box-shadow: 0 0 0 #000;
}

.item-slider .item-slide__product-buy .more {
  margin-left: 10px;
}

.item-slider .item-slide__product-buy .more a {
  font-size: 13px;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.538;
  transition: all 0.2s ease 0s;
  background-color: #fff;
}

.item-slider .item-slide__product-buy .more a:hover {
  color: #ff5816;
}

.item-slide__inner.stock-slide__inner {
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item-slide__inner.stock-slide__inner .stock-slide__photo {
  -ms-grid-row-align: center;
  align-self: center;
}

.item-slide__inner.stock-slide__inner .stock-slide__title {
  font-size: 16px;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.375;
  transition: all 0.2s ease 0s;
  margin: 15px 0 15px 20px;
  align-self: flex-start;
  font-weight: bold;
}

.item-slide__inner.stock-slide__inner .stock-slide__title:hover {
  color: #ff5816;
}

.item-slide__inner.stock-slide__inner .stock-slide__name {
  margin: 15px;
  font-size: 13px;
  color: #040d0d;
  line-height: 1.385;
}

.item-slide__inner.stock-slide__inner .stock-slide__time {
  display: flex;
  justify-content: space-between;
  background-color: #dbdee6;
  height: 60px;
  padding: 15px 15px 6px 15px;
}

.item-slide__inner.stock-slide__inner .stock-slide__time p {
  font-size: 13px;
  color: #000;
  line-height: 1.231;
  width: 65px;
}

.item-slide__inner.stock-slide__inner .stock-slide__time p:last-child {
  font-size: 14px;
  color: #337500;
  text-transform: uppercase;
  line-height: 1.143;
  width: unset;
  position: relative;
  left: -25px;
  top: 8px;
  font-weight: bold;
}

.item-slide__inner.stock-slide__inner .stock-slide__more {
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 2px;
}

.item-slide__inner.stock-slide__inner .stock-slide__more a {
  font-size: 13px;
  color: #4673ab;
  text-decoration: underline;
  line-height: 1.538;
  transition: all 0.2s ease 0s;
  background-color: #fff;
}

.item-slide__inner.stock-slide__inner .stock-slide__more a:hover {
  color: #ff5816;
}

@media (min-width: 767px) {
  a,
  button,
  input[type='button'] {
    cursor: pointer;
  }

  .header__nav-item {
    cursor: pointer;
  }

  .header__menu-item {
    cursor: pointer;
  }

  .header__menu-more {
    cursor: pointer;
  }

  .news-block__title {
    cursor: pointer;
  }

  .inner__slide-more {
    cursor: pointer;
  }

  .item-slider .buy-button {
    cursor: pointer;
  }

  .stock-slide__title {
    cursor: pointer;
  }
}

@media (max-width: 1170px) {
  .news-slider {
    width: calc(300px + 550 * ((100vw - 320px) / 850));
  }

  .news-slider__slogan {
    font-size: calc(5px + 11 * ((100vw - 320px) / 850));
  }

  .news-slider__slogan {
    padding-left: calc(0px + 40 * ((100vw - 320px) / 850));
  }

  .news-slider__slogan {
    padding-right: calc(0px + 40 * ((100vw - 320px) / 850));
  }

  .news-swiper {
    width: calc(300px + 550 * ((100vw - 320px) / 850));
  }

  .news-swiper-slide {
    padding-left: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .news-swiper-slide {
    padding-right: calc(30px + 40 * ((100vw - 320px) / 850));
  }

  .inner__slide-title {
    font-size: calc(10px + 21 * ((100vw - 320px) / 850));
  }

  .inner__slide-title p:first-child {
    padding-bottom: calc(10px + -10 * ((100vw - 320px) / 850));
  }

  .inner__slide-title p:last-child {
    font-size: calc(8px + 20.7 * ((100vw - 320px) / 850));
  }

  .inner__slide-title p:last-child {
    padding-bottom: calc(10px + -10 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 840px) {
  .news-slider__slogan {
    width: 470px;
  }

  .news-swiper {
    width: 470px;
  }
}

@media (max-width: 750px) {
  .news {
    display: none;
  }
}

@media (max-width: 980px) {
  .skype-pop {
    display: flex;
  }

  .brands-heading_item img {
    display: flex;
    margin-left: 10px;
  }
  .brands-heading_item {
    display: flex;
    flex-direction: row;
  }

  .bottom-block_item {
    width: 600px;
  }

  .block_funnel-goods {
    margin-bottom: 55px;
    margin-top: 50px;
  }

  .services {
    margin-bottom: 50px;
  }

  .fedbacck-cloud {
    display: none;
  }

  .under-footer_cloud {
    display: flex;
  }

  .footer_cloud {
    margin-top: 20px;
  }

  .social-skype {
    display: flex;
    align-items: center;
  }

  .footer-connection div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .about-us-card:nth-child(2n) {
    color: #394a5c;
  }

  .about-us-card_item_one span {
    position: relative;
    left: 15%;
  }

  .about-us-card_item_two {
    font-size: 12px;
    color: #040d0d;
    display: flex;
    text-align: center;
  }

  .lop {
    width: 100px;
  }

  .dip {
    width: 150px;
  }

  .about-us-cards {
    display: flex;
    justify-content: space-between;
  }

  .about-us-card {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff5816;
  }

  .about-us-card:nth-child(2) {
    font-size: 50px;
  }

  .io {
    display: flex;
    line-height: 30px;
    flex-direction: column;
    align-items: center;
  }

  .io span {
    position: relative;
    top: 20px;
    left: 0px;
  }

  .ui span {
    position: relative;
    left: 40px;
  }

  .about-us-card:nth-child(3) {
    font-size: 30px;
  }
  .about-us-card:nth-child(2n) {
    color: #394a5c;
  }

  .about-us-card_item_one span {
    position: relative;
    left: 15%;
  }

  .about-us-card_item_two {
    font-size: 12px;
    color: #040d0d;
    display: flex;
    text-align: center;
  }

  .lop {
    width: 100px;
  }

  .dip {
    width: 150px;
  }

  .about-us-cards {
    display: flex;
    justify-content: space-between;
  }

  .about-us-card {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff5816;
  }

  .about-us-card:nth-child(2) {
    font-size: 35px;
  }
  .about-us-card_item_one {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  .io {
    line-height: 20px;
  }

  .io span {
    position: relative;
    top: 20px;
    left: 0px;
  }

  .ui span {
    position: relative;
    left: 40px;
  }

  .about-us-card:nth-child(3) {
    font-size: 25px;
  }

  .box-cause_bad__menu,
  .box-cause_good__menu {
    margin: 20px 20px 20px 35px;
    line-height: 25px;
  }

  .wrapper_cards {
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
  }

  .strengths-cards:nth-child(1) {
    margin-right: 40px;
  }
  .brands-icons img {
    width: 90px;
    height: 45px;
  }

  .brands-heading a {
    display: none;
  }

  .arr-brands {
    display: flex;
  }

  .wrapper_bottom-menu {
    display: none;
  }

  .brands-icons img:nth-child(8),
  .brands-icons img:nth-child(9) {
    display: none;
  }

  .menu-text {
    display: flex;
    color: #bdc3c5;
  }

  .menu ul li {
    display: none;
  }
}

@media (max-width: 750px) {
  .brands-icons img:nth-child(6),
  .brands-icons img:nth-child(7) {
    display: none;
  }

  .bottom-block_item {
    font-size: 10px;
    width: 100%;
  }

  .about-us-card:nth-child(5),
  .about-us-card:nth-child(6) {
    display: none;
  }

  .footer {
    font-size: 10px;
  }
  .footer-connection_number {
    font-size: 15px;
  }
  .footer-connection div {
    font-size: 10px;
  }

  .funnel-goods_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .arrow-funnel {
    margin: 0px 10px 0px 0px;
    top: 40px;
  }

  .arr-about {
    display: flex;
  }

  .strengths-card {
    width: 95px;
  }

  .card-info:nth-child(3) {
    margin-right: 0px;
  }

  .card-info:last-child {
    display: none;
  }

  .card-info img {
    width: 160px;
    height: 140px;
  }

  .card-info a {
    font-size: 11px;
  }

  .cloud {
    display: none;
  }
}

@media (max-width: 520px) {
  .wrapper_brands {
    display: none;
  }
  .wrapper_cards-info {
    display: none;
  }

  .wrapper_strengths {
    display: none;
  }

  .wrapper_causes {
    display: none;
  }

  .footer_menu {
    display: none;
  }

  .location {
    display: none;
  }
  .social-networks {
    width: 78px;
    height: 25px;
  }

  .icon {
    width: 13px;
    height: 13px;
  }

  .services-heading {
    margin-bottom: 20px;
  }

  .services-heading_item {
    font-size: 20px;
  }

  .funnel-goods_text__item {
    font-size: 12px;
  }

  .services-menu_item-main {
    font-size: 12px;
  }

  .services-text_item div {
    font-size: 12px;
  }

  .block_funnel-goods {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .arrow-funnel_twree {
    display: none;
  }

  .funnel-goods_text__item {
    width: 150px;
  }

  .services-menu {
    margin-bottom: 20px;
  }

  .wrapper_services-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .block_funnel-goods {
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-funnel {
    position: absolute;
    margin: 0px;
    top: 10px;
  }

  .services-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .services-text_item_one {
    margin-bottom: 20px;
  }

  .footer-menu {
    display: none;
  }

  .under-footer_cloud {
    display: none;
  }

  .block-about_text__item-two {
    display: none;
  }

  .footer {
    margin-top: 25px;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow-funnel {
    display: none;
  }

  .hidden-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 25px;
    margin: 25px;
    padding: 0;
  }

  .hidden-menu_item {
    width: 98%;
    padding-left: 10px;
    color: #dbdee6;
    list-style-type: none;
    border-bottom: 1px solid;
    background: url(../img/cm_arrr.png) 95% center no-repeat;
  }
  .wrapper_about-us {
    display: none;
  }

  .wrapper_footer {
    padding: 5px 0px 20px 0px;
  }

  .block-connectio {
    display: flex;
    flex-direction: row;
  }

  .block-connection_number {
    display: none;
  }

  .wrapper_header_content {
    display: none;
  }

  .basket {
    display: none;
  }

  .block-feedback {
    display: none;
  }

  .block-hidden {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .hidden-menu_item {
    width: 96%;
  }

  .bottom-block {
    display: none;
  }

  .footer-connection div {
    font-size: 9px;
  }

  .footer {
    font-size: 9px;
  }

  .footer-connection_number {
    font-size: 12px;
  }

  .bottom {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .search {
    display: none;
  }
  .menu-text {
    color: white;
    position: absolute;
    left: 140%;
  }

  .menu_item:not(:last-child)::after {
    content: '';
    padding: 0 25px;
  }

  .hamburger-menu {
    height: 60px;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
    left: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 200;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff6837;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    list-style: none;
    background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 180;
    transition: all 0.5s;
  }

  .menu__item {
    display: block;
    position: absolute;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__togle {
    display: flex;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }

  .poick {
    display: flex;
  }
}

@media (min-width: 767px) {
  a,
  button,
  input[type='button'] {
    cursor: pointer;
  }

  .header__nav-item {
    cursor: pointer;
  }

  .header__menu-item {
    cursor: pointer;
  }

  .header__menu-more {
    cursor: pointer;
  }

  .news-block__title {
    cursor: pointer;
  }

  .inner__slide-more {
    cursor: pointer;
  }

  .item-slider .buy-button {
    cursor: pointer;
  }

  .stock-slide__title {
    cursor: pointer;
  }
}
